[Desktop Entry]
Name=SoundRecog
Exec=webapp-container --inspector ./www/index.html
Icon=soundrecog.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

