[Desktop Entry]
Name=SoundRecog
Exec=webapp-container --app-id="soundrecog.luksus" $@ www/index.html
Icon=soundrecog.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

