@media screen and (orientation:portrait) {
    .button {
        width: 50%;
        height:0;
        padding-bottom: 50%;
        margin-bottom: 3rem;
        color: #FFF;
        background-color: rgb(165, 222, 55);
        border-radius: 100%;
        display: inline-block;
        cursor: pointer;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-appearance: button;
        text-transform: none;
        overflow: visible;
    }
    .button-text {
        float:left;
        width:100%;
        padding-top:48%;
        font-weight: 300;
        font-size: 36px;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
    }
}

@media screen and (orientation:landscape) {

    .button {
        width: 95%;
        max-height: 100px;
        color: #FFF;
        background-color: rgb(165, 222, 55);
        display: inline-block;
        cursor: pointer;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-appearance: button;
        text-transform: none;
        overflow: visible;
    }
    .button-text {
        font-weight: 300;
        font-size: 36px;
        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        text-decoration: none;
        text-align: center;
        line-height: 60px;
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-microphone:before {
    content: "\f130";
}

#microphone {
    background-size: contain;
    height: 3.5rem;
    margin: 10px 0px;
}

.mic {
    background: url(../img/microphone.svg) no-repeat center #00000000;
}

.mic-rec {
    background: url(../img/microphone_rec.svg) no-repeat center #00000000;
}

.button-glow {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: glowing-action;
    animation-name: glowing-action;
}

@-webkit-keyframes glowing-action {
    from {
      -webkit-box-shadow: 0 0 0 rgba(222, 67, 69, 0.4);
              box-shadow: 0 0 0 rgba(222, 67, 69, 0.4); }
    80% {
      -webkit-box-shadow: 0 0 20px rgba(222, 67, 69, 0.9);
              box-shadow: 0 0 20px rgba(222, 67, 69, 0.9); }
    to {
      -webkit-box-shadow: 0 0 0 rgba(222, 67, 69, 0.4);
              box-shadow: 0 0 0 rgba(222, 67, 69, 0.4); }
}
@keyframes glowing-action {
    from {
        -webkit-box-shadow: 0 0 0 rgba(222, 67, 69, 0.4);
                box-shadow: 0 0 0 rgba(222, 67, 69, 0.4); }
    80% {
        -webkit-box-shadow: 0 0 20px rgba(222, 67, 69, 0.9);
                box-shadow: 0 0 20px rgba(222, 67, 69, 0.9); }
    to {
        -webkit-box-shadow: 0 0 0 rgba(222, 67, 69, 0.4);
                box-shadow: 0 0 0 rgba(222, 67, 69, 0.4); }
}

.container {
    margin-top: 0.8rem;
    width: 100vw;
    text-align: center;
    height: 100vw;
    max-height: 50%;
    border: none !important;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.recording{
    background: rgb(70, 70, 70);
    color: rgb(255, 0, 0);
}

#result {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 1.5rem;
    line-height: 2.2rem;
    line-break: normal;
    overflow: auto;
    width: 100%;
    color: #b5b5b5 !important;
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

#resultList {
    margin-left: 0px;
    padding: 0px;
}

.wrapper {
    display: table-cell;
    vertical-align: bottom;
    height: 500px;
}
#appContent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    bottom: 1rem;
    height: 100%;
    width: 100%;
}

body {
    background: #261f1f !important;
}

[data-role="header"]:after {
    background: #A5DE37 !important;
    border: none !important;
    height: 3px !important;
    width: 100%;
}

[data-role="header"] {
    /*height: 45px !important;*/
    width: 100%;
}

[data-role="tabtitle"] {
    text-align: center !important;
    padding-left: 28px !important;
}

/* [data-role="back-btn"]:disabled {
    width: 40px !important;
    background: transparent !important;
    background-image: none !important;
} */

[data-role="back-btn"]:disabled + [data-role="tabtitle"] {
    width: calc(100% - 100px) !important;
    margin-left: -2px;
}

.settingGroup {
    padding-left: 20px;
    margin-top: 1rem;
    margin-bottom: 1.0rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    width: 80%;
}

input,p {
    font-size: 1.2rem !important;
}

h1, p {
    color: #b5b5b5 !important;
}

[data-role="content"] {
    /*top: 60px !important;*/
    background: #261f1f !important;
}

[data-role="back-btn"],
[data-role="header"],
[data-role="actions"],
[data-role="tabtitle"] {
    background-color: #261f1f !important;
    color: #b5b5b5 !important;
}

#externalLinks {
    margin: 0 auto;
    width: 100%;
}

.serviceLink {
    width: 50px;
    height: 50px;
    margin: 1rem;
    display: inline-block;
}

#deezer {
    background: url(../img/deezer-logo.svg) no-repeat center #00000000;
    background-size: contain;
}

#spotify {
    background: url(../img/spotify-logo.svg) no-repeat center #00000000;
    background-size: contain;
}

#youtube {
    background: url(../img/youtube-logo.svg) no-repeat center #00000000;
    background-size: contain;
}

#credits {
    margin: 0 auto;
    width: 100%;
    bottom: 2rem;
    position: fixed;
}

a {
    color: #A5DE37 !important;
}

.spinner {
    min-height: 60px;
    background: url(../img/spinner.svg) no-repeat center #00000000;
    background-size: 5rem 5rem;
}

#timer {
    font-size: 3em !important;
}