.button-glow {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: glowing-action;
    animation-name: glowing-action;
}

.button {
    width: inherit;
    height: 100%;
    max-height: 200px;
    max-width: 200px;
    color: #FFF;
    background-color: rgb(165, 222, 55);
    border-color: #A5DE37;
    border-radius: 100%;
    font-weight: 300;
    font-size: 36px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    margin-left: -10px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-microphone:before {
    content: "\f130";
}

@-webkit-keyframes glowing-action {
    from {
      -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
              box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); }
    50% {
      -webkit-box-shadow: 0 0 20px rgba(165, 222, 55, 0.8);
              box-shadow: 0 0 20px rgba(165, 222, 55, 0.8); }
    to {
      -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
              box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); } }
  @keyframes glowing-action {
    from {
      -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
              box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); }
    50% {
      -webkit-box-shadow: 0 0 20px rgba(165, 222, 55, 0.8);
              box-shadow: 0 0 20px rgba(165, 222, 55, 0.8); }
    to {
      -webkit-box-shadow: 0 0 0 rgba(165, 222, 55, 0.3);
              box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); } }

.container {
    margin-top: 0.8rem;
    width: 100vw;
    text-align: center;
    height: 100vw;
    max-height: 50%;
    border: none !important;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.recording{
    background: rgb(175, 74, 43);
    color: rgb(31, 31, 31);
}

#result {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 1.5rem;
    line-height: 2.2rem;
    line-break: normal;
    overflow: auto;
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

#resultList {
    margin-left: 0px;
    padding: 0px;
}

.wrapper {
    display: table-cell;
    vertical-align: bottom;
    height: 500px;
}
#appContent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    bottom: 1rem;
    height: 100%;
    width: 100%;
}

body {
    background: #f7f7f7 !important;
}

[data-role="header"]:after {
    background: #A5DE37 !important;
    border: none !important;
    height: 3px !important;
    width: 100%;
}

[data-role="header"] {
    /*height: 45px !important;*/
    width: 100%;
}

[data-role="tabtitle"] {
    text-align: center !important;
    padding-left: 28px !important;
}

[data-role="back-btn"]:disabled {
    width: 40px !important;
    background: transparent !important;
    background-image: none !important;
}

.settingGroup {
    padding-left: 20px;
    margin-top: 1rem;
    margin-bottom: 1.0rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    width: 80%;
}

input,p {
    font-size: 1.2rem !important;
}

[data-role="content"] {
    top: 60px !important;
}